* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
}

a {
    color: #fff;
    position: relative;
    z-index: 1;
}

p {
    font-size: 26px;
}

#particles-js {
    width: 100%;
    height: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden; /* Disable horizontal scroll */
}

main p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* navbar */

.navbar {
    font-family: 'Fredericka the Great', cursive;
    color: rgb(238, 130, 238);
}

/* section */

section {
    width: 100%;
    height: auto;
}

section.welcome {
    height: calc(100vh - 56px);
    padding: 80px 0 80px 0;
}

.welcome .logo {
    margin: 30px;
    padding: 10px;
    position: absolute;
    top: 2vh;
    right: 0;
    z-index: 2;
}

.logo img {
    width: 50px;
    height: auto;
}

.websites, .spa {
    background: rgba(0, 0, 0, 0.3);
}


.name h1 {
    font-size: 40px; 
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
}

.name h2 {
    font-family: 'Fredericka the Great', cursive; 
}

.scroll a h2 {
    color: rgb(238, 130, 238);
    text-transform: uppercase;
    font-size: 24px;
}

/* arrows */

.arrows {
	max-width: 60px;
	max-height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* projects sections */

.section-title {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.section-title h1 {
    font-family: 'Fredericka the Great', cursive;
    padding: 10px 0 15px 0;
}


.about-me-section .section-title, .skills .section-title {
    background-color: transparent;
}


.card {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.8); 
    box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.8);   
}

/* descriptions*/
.description {
    max-width: 500px;
}

.description img {
    max-width: 60px;
    max-height: 60px;
}

.description a {
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 20px;
}

.description a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.photo-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.8); 
    box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.8);  
}

.item {
    width: 100%;
    margin-bottom: 500px;
}

.about {
    width: 60%;
    margin: 0 auto;
}

.about p {
    line-height: 2em;
}

.about-me-section .section-title h1, .skills .section-title h1 {
  color: rgb(238, 130, 238);
}

.skills {
    max-width: 100%;
    margin-bottom: 200px;
}

.skills .section-title h1 {
    margin-bottom: 50px;
}

.skills-logo {
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 100px auto;
}

.skills-logo img {
    width: 100px;
    height: auto;
}



@media screen and (min-width: 768px) {
    
    section.welcome {
        padding: 120px 0 50px 0;
    }

    .welcome .logo {
        left: 0;
    }    
    
    .name h1 {
        font-size: 70px; 
    }
    
    .scroll a h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    section.welcome {
        padding: 200px 0 50px 0;
    }

    .welcome .logo {
        position: fixed;
    } 

    .name h1 {
        font-size: 100px; 
    }
    
    .scroll a h2 {
        font-size: 40px;
    }

    .skills-logo {
        justify-content: space-around;
    }
}
